<nav class="navbar navbar-expand-lg navbar-light bg-primary fixed-bottom" style="background-color: #ff00fd;">
  <div class="container-fluid">
    <a id="message" class="navbar-brand">Click on profile pic to change</a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#bottomnavbarSupportedContent" aria-controls="bottomnavbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="bottomnavbarSupportedContent">
      <ul class="navbar-nav me-auto mb-2 mb-lg-0">
        <li class="nav-item">
          <div id="formTeacherButton"></div>
        </li>

        <li class="nav-item">
          <div id="subjectTeacherButton"></div>
        </li>
        <li class="nav-item">
          <div id="docPrinting"></div>
        </li>
    </div>
  </div>
</nav>